# deps
node_modules
.pnpm-store

# builds
dist
.next
.turbo
out
build

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# tests
coverage
